* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: white;
}
body {
  overflow-x: hidden;
}

/* VARIABLES */
:root {
  --grid-a: 2;
  --grid-b: 4;
  --grid-c: 6;
  --grid-d: 8;
  --grid-e: 12;
}

.ln {
  border: 1px solid #424242;
}

.flex {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.grid-2 {
  grid-column: span var(--grid-a);
}

.grid-4 {
  grid-column: span var(--grid-b);
}

.grid-6 {
  grid-column: span var(--grid-c);
  /* height: 30vh; */
}

.grid-8 {
  grid-column: span var(--grid-d);
}

.grid-12 {
  grid-column: span var(--grid-e);
}

.page-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  padding: 2rem 5vw;
  /* background-color: #c4c4c4; */
}

.body-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  padding: 2rem 5vw;
  /* background-color: aquamarine; */
}

/* EYE ANIMATION */
.eye {
  width: 50px;
  height: 50px;
  background: white;
  filter: drop-shadow(0.1px 0.1px 1rem hsl(240, 50%, 80%));
  position: absolute;
  top: 5%;
  left: 5%;
  margin: 0.6rem 0;
  transform: translate(-5%, -5%) rotate(45deg);
  border-radius: 75% 0;
  overflow: hidden;
  cursor: pointer;
}

.ball {
  width: 36px;
  height: 36px;
  background: #222f3e;
  border-radius: 50%;
  border: 10px solid #576574;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shut {
  width: 80px;
  height: 50px;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 1;
}

.shut span {
  display: block;
  width: 100%;
  height: 25%;
  background: linear-gradient(45deg, #f63443, #ff6a00);
  border-radius: 0 0 70% 70%;
  transition: 0 4s all;
}

.eye:hover > .shut span {
  height: 100%;
}

/* NNAVIGATION STYLES */
.brand {
  margin: 1rem;
}

.primary-navbar {
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1rem 2vw;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem);
  padding: 0.5rem;
}

.nav-item a {
  color: black;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.2rem;
  margin: 1.5rem;
  cursor: pointer;
}

.nav-item a:hover {
  background: linear-gradient(45deg, #f63443, #ff6a00);
  background-size: 100%;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobile-nav-toggle {
  display: none;
}

/* Landing Page Content */
#hero {
  margin-top: 8vh;
  margin-left: 8vw;
  margin-right: 8vw;
}

/* My name on the Landing page */
.myName {
  font-family: "Playfair Display", serif;
  font-size: 5em;
  background: linear-gradient(45deg, #f63443, #ff6a00);
  background-size: 100%;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 0.2em;
  padding-top: 1em;
  margin-bottom: -0.2em;
}

.first {
  line-height: 0.75;
}

.last {
  line-height: 0.75;
  padding-left: 1rem;
}

.description-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding-top: 1.5rem;
}

.description {
  padding-top: 8vh;
  padding-right: 12rem;
}

.illustration {
  max-width: 100%;
  background-color: transparent;
}

.check-out {
  margin-top: 8vh;
}

.check-out a {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: black;
}

/* .arrow {
    position: relative;
    bottom: 50px;
    left: 80%;
    margin-left: -20px;
    width: auto;
    height: auto;
  }
  
  .bounce {
    animation: bounceArrow 0.7s infinite;
  }
  
  @keyframes bounceArrow {
    from {
      margin-top: 0px;
    }
    50% {
      margin-top: 7px;
    }
    to {
      margin-top: 0px;
    }
  } */

.linkDesign {
  padding: 20px 0;
}

.linkDesign a {
  text-decoration: none;
  color: black;
}

/* PROJECTS SECTION on HOMEPAGE */
#projects-container {
  padding-top: 9vh;
}

.project-intro {
  font-family: "Open Sans", sans-serif;
  max-width: 40rem;
  text-align: right;
  margin-right: 1rem;
}

.large-body-text {
  font-size: 1.5em;
  font-weight: 400;
}

#more-about-me {
  font-size: 1em;
}

.project-work {
  grid-template-columns: repeat (2, 1fr);
  max-width: 44rem;
  margin: 0 auto;
  display: column;
  columns: 2;
}

.project-intro {
  font-family: "Open Sans", sans-serif;
  max-width: 40rem;
  text-align: right;
  margin-right: 1rem;
}

.large-body-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

#more-about-me {
  font-size: 1em;
}

.card-text {
  position: absolute;
  bottom: 3rem;
  left: 2.4rem;
}

.project-card {
  position: relative;
  margin-bottom: 1.2rem;
  max-width: 100%;
}

.portfolio-image {
  max-width: 89%;
}

#studyco {
  /* background-image: url(../../assets/images/studyco-lab.png); */
  border-bottom: 0.4em solid #dc3d4b;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#lous {
  /* background-image: url(../../assets/images/Lous-place.png); */
  border-bottom: 0.4em solid #f26b1d;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#travelsafe {
  /* background-image: url(../../assets/images/travelsafe.png); */
  border-bottom: 0.4em solid #009bde;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#dese {
  /* background-image: url(../../assets/images/dese.png); */
  border-bottom: 0.4em solid #feb603;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.serif-title {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  text-transform: uppercase;
  bottom: 1rem;
  padding-bottom: 1rem;
}

.card-line {
  width: 2rem;
  height: 0.3rem;
  background-color: black;
  border: none;
}

.card-line-white {
  width: 2rem;
  height: 0.3rem;
  background-color: white;
}

.project-description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  padding-top: 1rem;
  max-width: 14rem;
}

.white-text {
  color: white;
}

/* ABOUT PAGE */
.container-gradient {
  background-color: #333399;
  padding-bottom: 0;
  border: none;
}
.intro {
  padding-top: 8vh;
  padding-left: 12vw;
  padding-right: 9vw;
}
.page-title {
  font-size: 3em;
  font-family: "Playfair Display", serif;
  padding: 1rem;
  background-color: white;
  margin-bottom: 1rem;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
}

.written-detail {
  font-family: "Open Sans", sans-serif;
  padding: 1rem 2vw;
}

.written-detail p {
  padding-bottom: 1.4rem;
}

.external-links {
  justify-content: space-evenly;
}

.contact-button {
  padding: 1rem 4rem;
  border-radius: 0.25rem;
  border: 0.1rem solid white;
  /* background: #ff6a00; */
  background-image: linear-gradient(45deg, #f63443, #ff6a00);
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.1em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.list-flex {
  display: flex;
  gap: 4rem;
  /* justify-content: space-around; */
  flex-direction: row;
}

.skills {
  list-style-position: inside;
  min-width: 18rem;
}

.skills ul li {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.08em;
}

.list-title {
  list-style: none;
  font-size: 1.8em;
  font-weight: 700;
}

.skills-card {
  background-image: linear-gradient(45deg, #f66570, #ffc399);
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.skills p {
  font-weight: 300;
}

/* PROJECTS pages */
.lous-container {
  background-color: #4dd4d3;
  padding-bottom: 0;
  border: none;
}

.header-image {
  width: 80%;
  height: 80%;
}

.sml-image {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.lrg-image {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.image-placeholder {
  background: url(https://via.placeholder.com/550x400);
  width: 80%;
  height: 30rem;
  margin: 0 5rem;
}

/* FOOTER */
footer {
  padding-top: 50px;
}

.contact {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 2.5em;
  padding: 1em;
  padding-bottom: 0;
}

.contact-me a {
  text-decoration: none;
  background: linear-gradient(45deg, #f63443, #ff6a00);
  background-size: 100%;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.footer-links {
  display: flex;
}

.footer-item {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  /* margin-right: 2.5rem; */
  margin: 0 2rem;
  text-align: center;
}

.footer-links li {
  padding-bottom: 1rem;
  list-style: none;
  cursor: pointer;
}

.footer-item a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.footer-wave {
  position: absolute;
  background-image: url("../../assets/images/wave.png");
  background-position: center;
  background-size: cover;
  min-height: 20rem;
  width: 100%;
  background-repeat: no-repeat;
}

/* RESPONSIVE WEB DEVELOPMENT - Media Queries */
@media only screen and (max-width: 600px) {
  :root {
    --grid-a: 12;
    --grid-b: 12;
    --grid-c: 12;
    --grid-d: 12;
  }
  .myName {
    font-family: "Playfair Display", serif;
    font-size: 2em;
  }

  .first {
    line-height: 0.75;
  }

  .last {
    line-height: 0.75;
    padding-left: 1rem;
  }

  .description {
    padding-top: 1.5rem;
    padding-right: 1rem;
  }

  .flex {
    flex-direction: column;
    gap: 2rem;
  }

  .list-flex {
    flex-direction: column;
  }

  #projects-container {
    padding-top: 0;
  }
  .project-work {
    max-width: 44rem;
    display: column;
    columns: 1;
    justify-content: center;
  }

  .project-card {
    margin: 5vw;
    width: 100%;
    height: auto;
  }

  .primary-navigation {
    position: fixed;
    z-index: 15;
    inset: 0 0 0 30%;
    padding: min(30vh, 10rem) 2rem;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .brand {
    position: fixed;
    top: 1rem;
    left: 1rem;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 20;
    background-image: url("../../assets/images/icon-hamburger.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    width: 2.5rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../../assets/images/icon-close.svg");
  }
}
