* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: white;
}
body {
  overflow-x: hidden;
  color: #292a2c;
}

/* ===================== */
/* ===== VARIABLES ===== */
/* ===================== */
:root {
  --grid-a: 2;
  --grid-b: 4;
  --grid-c: 6;
  --grid-d: 8;
  --grid-e: 12;
}

.ln {
  border: 1px solid #424242;
}

.flex {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.grid-2 {
  grid-column: span var(--grid-a);
}

.grid-4 {
  grid-column: span var(--grid-b);
}

.grid-6 {
  grid-column: span var(--grid-c);
}

.grid-8 {
  grid-column: span var(--grid-d);
}

.grid-12 {
  grid-column: span var(--grid-e);
}

.page-header,
.landing-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  padding: 0 5vw;
}

.landing-header {
  min-height: 100vh;
}

.body-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  padding: 2rem 5vw;
  /* background-color: aquamarine; */
}

/* PRELOADER to introduce the page */
.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: white;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader img {
  animation: spin 3s ease infinite;
  width: 150px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate (360deg);
  }
  100% {
    transform: rotate(729deg);
  }
}

/* EYE ANIMATION in NAVBAR */
.eye {
  width: 50px;
  height: 50px;
  background: white;
  filter: drop-shadow(0.1px 0.1px 1rem hsl(240, 50%, 80%));
  position: absolute;
  top: 5%;
  left: 5%;
  margin: 0.6rem 0;
  transform: translate(-5%, -5%) rotate(45deg);
  border-radius: 75% 0;
  overflow: hidden;
  cursor: pointer;
}

.ball {
  width: 36px;
  height: 36px;
  background: #222f3e;
  border-radius: 50%;
  border: 10px solid #576574;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shut {
  width: 80px;
  height: 50px;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 1;
}

.shut span {
  display: block;
  width: 100%;
  height: 25%;
  background: linear-gradient(45deg, #f63443, #ff6a00);
  border-radius: 0 0 70% 70%;
  transition: 0 4s all;
}

.eye:hover > .shut span {
  height: 100%;
}

/* NAVIGATION STYLES */
/* ================= */
.brand {
  margin: 1rem;
}

.primary-navbar {
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem 2vw;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem);
  padding: 0.5rem;
}

.nav-item a {
  color: #292a2c;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.2rem;
  margin: 1.5rem;
  cursor: pointer;
  padding: 0.2rem 0;
}

.nav-item a:hover {
  background: linear-gradient(45deg, #f63443, #ff6a00);
  background-size: 100%;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active a {
  border-top: 0.3rem solid #292a2c;
}

.mobile-nav-toggle {
  display: none;
}

/* Landing Page Content */
#hero {
  margin-top: 8vh;
  margin-left: 8vw;
  margin-right: 8vw;
}

/* My name on the Landing page */
.myName {
  font-family: "Playfair Display", serif;
  font-size: 5em;
  background: linear-gradient(45deg, #f63443, #ff6a00);
  background-size: 100%;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 0.2em;
  padding-top: 1em;
  margin-bottom: -0.2em;
}

.first {
  line-height: 0.75;
}

.last {
  line-height: 0.75;
  padding-left: 1rem;
}

.description-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding-top: 1.5rem;
}

.description {
  padding: 10vh 0;
  padding-right: 12rem;
}

.illustration {
  max-width: 100%;
  background-color: transparent;
}

.checkout {
  position: absolute;
}

.check-out a {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #292a2c;
  line-height: 1.6rem;
  padding: 1rem 1rem 1rem 2.5rem;
  /* padding-left: 3rem; */
}

.underlined-gradient {
  background-image: linear-gradient(to right, transparent 50%, aqua 50%);
  background-size: 200%;
  transition: background-position 0.5s;
}

.underlined-gradient:hover {
  background-position: -100%;
}

.arrow {
  position: absolute;
  font-size: 1.5em;
  width: auto;
  height: auto;
  left: 9em;
}

.arrow a {
  text-decoration: none;
  color: #292a2c;
  padding: 1rem;
  font-size: 1.5rem;
}

.bounce {
  animation: bounceArrow 0.7s infinite;
}

@keyframes bounceArrow {
  from {
    margin-top: 0px;
  }
  50% {
    margin-top: 7px;
  }
  to {
    margin-top: 0px;
  }
}

.linkDesign {
  padding: 20px 0;
}

.linkDesign a {
  text-decoration: none;
  color: #292a2c;
}

/* PROJECTS SECTION on HOMEPAGE */
#projects-container {
  padding-top: 9vh;
  padding-bottom: 4vh;
}

.project-intro {
  font-family: "Open Sans", sans-serif;
  max-width: 40rem;
  text-align: right;
  margin-right: 1rem;
}

.large-body-text {
  font-size: 1.5em;
  font-weight: 400;
}

#more-about-me {
  font-size: 1em;
  color: #292a2c;
}

.more-about-me {
  padding-top: 20px;
}

.project-work {
  grid-template-columns: repeat (2, 1fr);
  max-width: 48rem;
  margin: 0 auto;
  display: column;
  columns: 2;
  gap: 4rem;
}

.project-intro {
  font-family: "Open Sans", sans-serif;
  width: minmax(40rem, auto);
  text-align: right;
  /* margin-right: 1rem; */
}

.large-body-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

.card-text,
.card-text-white {
  position: absolute;
  bottom: 3rem;
  left: 2.4rem;
}

.card-text a {
  text-decoration: none;
  color: #292a2c;
  font-weight: 600;
}

.card-text-white a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.project-card {
  position: relative;
  margin: 4rem 0;
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.6);
  transition: all 300ms ease-in-out;
}

.project-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 30px rgb(0 0 0 / 0.4);
}

.portfolio-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#travelSafe {
  background-color: #009bde;
}

#dese {
  background-color: #feb603;
}

#lous {
  background-color: #f26b1d;
}

#studyCoLab {
  background-color: #dc3d4b;
}

#trailTalk {
  background-color: #3b9fb5;
}

.serif-title {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  text-transform: uppercase;
  bottom: 1rem;
  padding-bottom: 1rem;
}

.card-line {
  width: 2rem;
  height: 0.3rem;
  background-color: #292a2c;
  border: none;
  margin: 1rem 0;
}

.card-line-white {
  width: 2rem;
  height: 0.3rem;
  background-color: white;
  margin: 1rem 0;
}

.project-description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  max-width: 14rem;
}

.white-text p {
  color: white;
}

/* ABOUT PAGE */
/* ========== */
.container-gradient {
  background-color: #333399;
  padding-bottom: 0;
  border: none;
}
.intro {
  padding-top: 8vh;
  padding-left: 12vw;
  padding-right: 9vw;
}
.page-title {
  font-size: 3em;
  font-family: "Playfair Display", serif;
  padding: 1rem;
  background-color: white;
  margin-bottom: 1rem;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
}

.written-detail {
  font-family: "Open Sans", sans-serif;
  padding: 1rem 2vw;
}

.written-detail p {
  padding-bottom: 1.4rem;
}

.external-links {
  justify-content: space-evenly;
}

.contact-button {
  padding: 1rem 4rem;
  border-radius: 0.25rem;
  border: 0.1rem solid white;
  /* background: #ff6a00; */
  background-image: linear-gradient(45deg, #f63443, #ff6a00);
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.1em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.list-flex {
  display: flex;
  gap: 4rem;
  /* justify-content: space-around; */
  flex-direction: row;
}

.skills {
  list-style-position: inside;
  min-width: 18rem;
}

.skills ul li {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.08em;
}

.list-title {
  list-style: none;
  font-size: 1.8em;
  font-weight: 700;
}

.skills-card {
  background-image: linear-gradient(45deg, #f66570, #ffc399);
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.skills p {
  font-weight: 300;
}

/* PROJECTS pages */
/* ============== */
#progress-bar {
  --progress: 0%;
  height: 6px;
  width: var(--progress);
  background-color: #333399;
  position: fixed;
  left: 0;
  z-index: 12;
}

.lous-container {
  background-color: #4dd4d3;
  padding-bottom: 0;
  border: none;
}

.header-image {
  width: 80%;
  height: 80%;
}

.sml-image {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.lrg-image {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.image-placeholder {
  background: url(https://via.placeholder.com/550x400);
  width: 80%;
  height: 30rem;
  margin: 0 5rem;
}

/* scroll to top button */
.scrollToTopBtn {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 2em;
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}
/* FOOTER */
footer {
  padding-top: 50px;
}

.contact {
  color: #292a2c;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 2.5em;
  padding: 1em;
  padding-bottom: 0;
}

.contact-me a {
  text-decoration: none;
  background: linear-gradient(45deg, #f63443, #ff6a00);
  background-size: 100%;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-sml {
  color: #292a2c;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.5em;
}

.gradient-fill {
  color: linear-gradient(45deg, #f63443, #ff6a00);
  background: linear-gradient(45deg, #f63443, #ff6a00);
  background-size: 100%;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 0.2em;
  padding-top: 1em;
  margin-bottom: -0.2em;
}

.footer-details {
  justify-content: center;
  align-items: center;
}

.footer-list {
  justify-content: space-between;
  padding: 2rem;
  margin: 8rem;
}

.footer-item {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem;
  text-align: center;
  background-color: white;
}

.copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem;
  text-align: center;
  padding: 0.2rem 0.5rem;
}

.footer-item a {
  padding: 2rem;
}

.footer-links li {
  padding: 0.2rem 0.5rem;
  list-style: none;
  cursor: pointer;
}

.footer-item a {
  text-decoration: none;
  color: #292a2c;
  font-weight: 400;
  transition: all 300ms ease-in-out;
}

.footer-item:hover {
  transform: scale(1.1);
  /* border-top: 0.2rem solid #292a2c; */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.footer-name {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  background-color: white;
  padding: 0.5rem;
}

.footer-wave {
  position: absolute;
  background-image: url("../../assets/images/wave.png");
  background-position: center;
  background-size: cover;
  min-height: 20rem;
  width: 100%;
  background-repeat: no-repeat;
}

/* ========================================== */
/* RESPONSIVE WEB DEVELOPMENT - Media Queries */
/* ========================================== */
@media only screen and (max-width: 600px) {
  :root {
    --grid-a: 12;
    --grid-b: 12;
    --grid-c: 12;
    --grid-d: 12;
  }
  .myName {
    font-family: "Playfair Display", serif;
    font-size: 2em;
  }

  .first {
    line-height: 0.75;
  }

  .last {
    line-height: 0.75;
    padding-left: 1rem;
  }

  .description {
    padding-top: 1.5rem;
    padding-right: 1rem;
  }

  .flex {
    flex-direction: column;
    gap: 2rem;
  }

  .list-flex {
    flex-direction: column;
  }

  #projects-container {
    padding-top: 0;
  }
  .project-work {
    max-width: 44rem;
    display: column;
    columns: 1;
    justify-content: center;
  }

  .project-card {
    margin: 5vw;
    width: 100%;
    height: auto;
  }

  .primary-navbar {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3.2rem 2vw;
  }

  .primary-navigation {
    position: fixed;
    z-index: 15;
    inset: 0 0 0 30%;
    padding: min(30vh, 10rem) 2rem;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .brand {
    position: fixed;
    top: 1rem;
    left: 1rem;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 20;
    background-image: url("../../assets/images/icon-hamburger.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    width: 2.5rem;
    border: 0;
    aspect-ratio: 1;
    top: 3rem;
    right: 2rem;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../../assets/images/icon-close.svg");
  }
}
